@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("main.css");
@import url("pages.css");

/************** reset **************/

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  /* color */
  --color-primary: #21283c;
  --color-secondary: #d4ccc1;
  --color-tertiary: #646a78;
  --color-white: #ffffff;
  --color-offWhite: #f5f5f5;
  --color-softGray: #e6e6e6;
  --color-mediumGray: #999999;
  --color-slateGray: #67686c;
  --color-black: #222222;

  --color-success: #21b497;
  --color-danger: #ff4a5f;
  --color-warning: #fe8248;
  --color-info: #2b324b;

  /* font weight */
  --font-weight-Bold: 700;
  --font-weight-SemiBold: 600;
  --font-weight-Medium: 500;
  --font-weight-Regular: 400;
  --font-weight-Light: 300;

  /* shadow */
  --shadow-default: 0 0 20px 0 rgb(0 0 0/0.07);
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Pretendard";
  font-weight: var(--font-weight-Light);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: keep-all;
  tab-size: 4;
  color: var(--color-primary);
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
}

img,
picture,
canvas,
svg {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
strong,
b,
th {
  font-weight: var(--font-weight-Bold);
}

h2,
h3 {
  line-height: 1.2;
}

:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-webkit-input-placeholder,
::-moz-placeholder {
  color: #cfcfcf;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  height: 48px;
  border-radius: 6px;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-track {
  height: 48px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-corner {
  height: 48px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

@page {
  size: A4;
  margin: 5mm;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../font/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../font/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../font/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../font/Pretendard-Light.woff2") format("woff2");
}

.mobile-view {
  display: none;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }

  .pc-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

/************** font **************/

.font-pretendard {
  font-family: "Pretendard";
}

.font-noto-serif {
  font-family: "Noto Serif";
}

.font-poppins {
  font-family: "Poppins";
}

.font-weight-bold {
  font-weight: var(--font-weight-Bold);
}

.font-weight-semibold {
  font-weight: var(--font-weight-SemiBold);
}

.font-weight-medium {
  font-weight: var(--font-weight-Medium);
}

.font-weight-regular {
  font-weight: var(--font-weight-Regular);
}

.font-weight-light {
  font-weight: var(--font-weight-Light);
}

/************** mobile header **************/
.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  max-width: 768px;
  margin: 0 auto;
  display: none;
}

.mobile-header .top-banner {
  background-color: var(--color-primary);
}

.mobile-header .top-banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 4px 0;
  color: var(--color-white);
}

.mobile-header .top-banner a img {
  width: 15px;
}

.mobile-header .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
  background-color: var(--color-primary);
}

.mobile-header .header-bar a img {
  width: 140px;
}

.mobile-sitemap-btn {
  position: relative;
  width: 20px;
  height: 19px;
}

.mobile-sitemap-btn span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #cdb592;
  transition: all 0.3s;
}

.mobile-sitemap-btn span:nth-of-type(1) {
  top: 0;
}

.mobile-sitemap-btn span:nth-of-type(2) {
  top: 8px;
}

.mobile-sitemap-btn span:nth-of-type(3) {
  bottom: 0;
  width: 50%;
}

.mobile-sitemap-btn.active span:nth-of-type(1) {
  top: 8px;
  transform: rotate(45deg);
}

.mobile-sitemap-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.mobile-sitemap-btn.active span:nth-of-type(3) {
  width: 100%;
  bottom: 8px;
  transform: rotate(-45deg);
}

.mobile-header .gnb {
  display: none;
  position: fixed;
  inset: 0;
  top: 108px;
  z-index: 22;
  max-width: 768px;
  margin: 0 auto;
  background-color: #d4ccc1;
}

.mobile-header .gnb .depth1 {
  width: 170px;
  height: calc(100vh - 209px);
  overflow: auto;
  padding: 8px 0;
}

.mobile-header .gnb .depth1 > li > button {
  padding: 8px 25px;
  font-size: 16px;
  font-weight: var(--font-weight-Medium);
}

.mobile-header .gnb .depth2 {
  display: none;
  position: absolute;
  inset: 0;
  left: 170px;
  overflow: auto;
  padding: 16px 25px;
  background-color: #454b5e;
}

.mobile-header .gnb .depth2 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-header .gnb .depth2 ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: var(--font-weight-Regular);
  color: var(--color-white);
  transition: all 0.3s;
}

.mobile-header .gnb .depth2 ul li a img {
  margin-top: -1px;
  width: 30px;
}

.mobile-header .gnb .util {
  width: 170px;
  padding: 0 10px 16px;
}

.mobile-header .gnb .util a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  font-size: 16px;
  font-weight: var(--font-weight-SemiBold);
}

.mobile-header .gnb .util a.kakao-btn {
  margin-bottom: 5px;
  background-color: var(--color-white);
  color: #493625;
}

.mobile-header .gnb .util a.kakao-btn img {
  width: 25px;
}

.mobile-header .gnb .util a.request-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (max-width: 1200px) {
  .mobile-header {
    display: block;
  }
}

/************** sidebar **************/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 200px;
  background-color: #d4ccc1;
}

.main-sidebar {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: var(--color-primary);
}

.sidebar .depth1 {
  height: calc(100vh - 355px);
  padding-left: 40px;
}

.sidebar .depth1 > li:hover .depth2 {
  display: block;
}

.sidebar .depth1 > li > a {
  display: block;
  padding: 22px 0;
  font-size: 18px;
  font-weight: var(--font-weight-Medium);
}

.sidebar .depth2 {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  height: 100%;
  overflow: auto;
  padding-top: 230px;
  background-color: rgba(33, 40, 60, 0.7);
}

.sidebar .depth2 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0;
}

.sidebar .depth2 ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: var(--font-weight-Regular);
  color: var(--color-white);
  transition: all 0.3s;
}

.sidebar .depth2 ul li a:hover {
  background-color: rgba(33, 40, 60, 0.6);
}

.sidebar .depth2 ul li a img {
  margin-top: -1px;
}

.sidebar .util {
  padding: 0 10px 30px;
}

.sidebar .util a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 45px;
  font-size: 16px;
  font-weight: var(--font-weight-SemiBold);
}

.sidebar .util a.kakao-btn {
  margin-bottom: 5px;
  background-color: var(--color-white);
  color: #493625;
}

.sidebar .util a.request-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (max-width: 1800px) {
  .sidebar .depth1 > li > a {
    padding: 18px 0;
  }

  .sidebar .depth2 ul {
    padding: 11px 0;
  }
}

@media screen and (max-width: 1600px) {
  .sidebar .depth1 > li > a {
    padding: 12px 0;
  }

  .sidebar .depth2 ul {
    padding: 5px 0;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}

/************** sitemap **************/

/* sitemap btn */
.sitemap-btn {
  position: fixed;
  top: 60px;
  right: 70px;
  z-index: 3;
  width: 20px;
  height: 19px;
}

.sitemap-btn span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s;
}

.sitemap-btn span:nth-of-type(1) {
  top: 0;
}

.sitemap-btn span:nth-of-type(2) {
  top: 8px;
}

.sitemap-btn span:nth-of-type(3) {
  bottom: 0;
  width: 50%;
}

.sitemap-btn:hover span:nth-of-type(3) {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .sitemap-btn {
    display: none;
  }
}

/************** top btn **************/

.top-btn {
  position: fixed;
  bottom: 36px;
  right: 70px;
  z-index: 21;
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
}

.top-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -8px;
  border-right: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  .top-btn {
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }

  .top-btn:after {
    width: 10px;
    height: 10px;
    margin: -3px 0 0 -5px;
  }
}

/************** footer **************/

.footer {
  padding: 100px 0 0 200px;
  background-color: var(--color-primary);
}

.footer .inner {
  width: 1350px;
  margin: 0 auto;
}

.footer .customer {
  display: flex;
  gap: 100px;
  color: var(--color-white);
}

.footer .customer .left {
  width: 650px;
}

.footer .customer .left dl {
  display: flex;
  margin-bottom: 46px;
}

.footer .customer .left dl dt {
  width: 160px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.footer .customer .left dl dd {
  flex: 1;
}

.footer .customer .left dl dd span {
  color: var(--color-mediumGray);
}

.footer .customer .left .map {
  width: 100%;
  height: 390px;
}

.footer .customer .left .map .cont {
  display: none;
}

.footer .customer .right {
  width: 465px;
}

.footer .customer .right dl:last-child {
  margin-top: 80px;
}

.footer .customer .right dl dt {
  margin-bottom: 14px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.footer .customer .right .consultation-wrap .form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .customer .right .consultation-wrap .form-list .flex {
  display: flex;
  gap: 20px;
}

.footer .customer .right .consultation-wrap .form-list .flex input {
  width: 100%;
  padding-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--color-white);
}

.footer .customer .right .consultation-wrap .form-list .checkbox {
  text-align: right;
  color: var(--color-mediumGray);
}

.footer .customer .right .consultation-wrap form button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #d8be97;
  font-weight: var(--font-weight-Bold);
  color: var(--color-white);
}

.footer .customer .right .hours-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .customer .right .hours-wrap ul li {
  display: flex;
}

.footer .customer .right .hours-wrap ul li div {
  display: flex;
  white-space: nowrap;
}

.footer .customer .right .hours-wrap ul li div.day {
  justify-content: space-between;
  width: 100px;
  margin-right: 40px;
}

.footer .customer .right .hours-wrap ul li div.time {
  gap: 6px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.footer .customer .right .hours-wrap ul li div.time span {
  text-align: center;
  letter-spacing: 2px;
}

.footer .customer .right .hours-wrap ul li div.time span:nth-child(odd) {
  width: 34px;
}

.footer .customer .right .hours-wrap ul li div.time span:nth-child(even) {
  width: 60px;
}

.footer .customer .right .hours-wrap p {
  margin-top: 30px;
  color: var(--color-mediumGray);
}

.footer .info {
  margin-top: 54px;
  padding: 30px 0 60px;
  border-top: 1px solid var(--color-mediumGray);
}

.footer .info .menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer .info .menu a {
  font-weight: var(--font-weight-Bold);
  color: var(--color-mediumGray);
}

.footer .info .menu a:last-child {
  color: var(--color-white);
}

.footer .info .menu span {
  width: 1px;
  height: 13px;
  background-color: var(--color-mediumGray);
}

.footer .info p {
  margin-top: 40px;
  font-size: 16px;
  color: var(--color-mediumGray);
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 80px 0 0 0;
    font-size: 13px;
  }

  .footer .inner {
    width: 100%;
    padding: 0 25px;
  }

  .footer .customer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer .customer .left {
    width: 100%;
  }

  .footer .customer .left dl {
    margin-bottom: 20px;
  }

  .footer .customer .left dl dt {
    width: 100px;
  }

  .footer .customer .left .map {
    width: 100%;
    height: 260px;
  }

  .footer .customer .right {
    width: 100%;
  }

  .footer .customer .right dl:last-child {
    margin-top: 0;
  }

  .footer .customer .right dl dt {
    width: 100px;
    margin-bottom: 0;
  }

  .footer .customer .right dl dd {
    flex: 1;
  }

  .footer .customer .right .consultation-wrap {
    display: none;
  }

  .footer .customer .right .hours-wrap {
    display: flex;
  }

  .footer .customer .right .hours-wrap ul {
    gap: 4px;
  }

  .footer .customer .right .hours-wrap ul li {
    flex-wrap: wrap;
  }

  .footer .customer .right .hours-wrap ul li div.day {
    width: 55px;
    margin-right: 15px;
  }

  .footer .customer .right .hours-wrap ul li div.time {
    gap: 2px;
  }

  .footer .customer .right .hours-wrap ul li div.time span:nth-child(odd) {
    width: 25px;
  }

  .footer .customer .right .hours-wrap ul li div.time span:nth-child(even) {
    width: 45px;
  }

  .footer .customer .right .hours-wrap p {
    margin-top: 10px;
  }

  .footer .info {
    margin-top: 40px;
    padding: 20px 0 60px;
  }

  .footer .info .menu {
    gap: 12px;
  }

  .footer .info .menu span {
    height: 11px;
  }

  .footer .info p {
    margin-top: 20px;
    font-size: 11px;
  }
}

/************** layout **************/

.wrapper {
  min-width: 1880px;
}

.container {
  padding-left: 200px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    min-width: 360px;
    max-width: 768px;
    margin: 0 auto;
  }

  .container {
    padding-left: 0;
  }
}

/************** button **************/

.more-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 233px;
  height: 60px;
  padding: 0 30px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.more-btn span {
  position: relative;
  width: 10px;
  height: 10px;
}

.more-btn span:before,
.more-btn span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.more-btn span:before {
  width: 100%;
  height: 2px;
}

.more-btn span:after {
  width: 2px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .more-btn {
    width: 150px;
    height: 44px;
    padding: 0 15px;
  }
}

/************** 준비중 **************/

.preparing {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/common/preparing-bg.jpg") no-repeat center/cover;
}

.preparing .txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
}

.preparing .txt div h3 {
  font-size: 60px;
  font-family: "Noto Serif";
}

.preparing .txt div h3 span {
  color: #baa991;
}

.preparing .txt div h4 {
  margin: 5px 0 30px;
  font-size: 36px;
  font-weight: var(--font-weight-Light);
}

.preparing .txt div p {
  color: #d4ccc1;
}

@media screen and (max-width: 1200px) {
  .preparing .txt {
    width: 360px;
    height: 360px;
  }

  .preparing .txt div h3 {
    font-size: 30px;
  }

  .preparing .txt div h4 {
    margin: 5px 0 20px;
    font-size: 22px;
  }
}
