/************** main **************/

.main-inner {
  width: 1350px;
  margin: 0 auto;
}

.main-title {
  font-size: 70px;
  font-family: "Noto Serif";
}

/* 메인 영상 */
.main-video {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.main-video:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.3s;
}

.main-video.active:before {
  background-color: rgba(33, 40, 60, 0.5);
}

.main-video video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

/* 메인 비주얼 */
.main-visual {
  position: relative;
  min-height: 100vh;
}

.main-visual h2 {
  position: absolute;
  left: 0;
  bottom: 180px;
  font-size: 100px;
  color: var(--color-white);
}

/* 메인 주피터 소개 */
.jupiter-info {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
  color: var(--color-white);
}

.jupiter-info .img {
  width: 480px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.5);
}

.jupiter-info .txt p {
  margin-top: 50px;
  line-height: 40px;
}

.jupiter-info .txt p strong span {
  font-family: "Pretendard";
}

/* 메인 swiper */
.main-swiper {
  position: relative;
  width: 1350px;
  margin-top: 240px;
  color: var(--color-white);
}

.main-swiper h3 {
  position: absolute;
  top: 0;
  z-index: 2;
}

.main-swiper .swiper {
  padding-bottom: 60px;
}

.main-swiper .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-swiper .info .txt p {
  margin-bottom: 40px;
}

.main-swiper .control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/* swiper control button */
.main-swiper .control-button {
  display: flex;
  gap: 10px;
}

.main-swiper .control-button div {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 1px solid var(--color-mediumGray);
  transition: all 0.3s;
}

.main-swiper .control-button div.swiper-button-prev {
  left: 0;
}

.main-swiper .control-button div.swiper-button-next {
  right: 0;
}

.main-swiper .control-button div:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.main-swiper .control-button div:after {
  font-size: 13px;
  color: var(--color-mediumGray);
}

.main-swiper .control-button div:hover:after {
  color: var(--color-black);
}

/* swiper pagination tab */
.main-swiper .tab {
  position: absolute;
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.main-swiper .tab.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 280px;
  width: auto;
}

.main-swiper .tab span.swiper-pagination-bullet {
  position: relative;
  width: auto;
  height: auto;
  padding-left: 30px;
  opacity: 1;
  font-family: "Poppins";
  font-size: 24px;
  background-color: transparent;
}

.main-swiper .tab span.swiper-pagination-bullet-active {
  font-weight: var(--font-weight-Bold);
}

.main-swiper .tab span.swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 3px;
  margin-top: -1.5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.main-swiper .tab span.swiper-pagination-bullet-active:before {
  width: 20px;
  background-color: var(--color-white);
}

/* swiper pagination */
.main-swiper .swiper-pagination {
  position: relative;
  display: flex;
  gap: 5px;
}

.main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.main-swiper .swiper-pagination span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
  opacity: 1;
  background-color: var(--color-mediumGray);
  transition: all 0.3s;
}

.main-swiper .swiper-pagination span.swiper-pagination-bullet-active {
  width: 20px;
  background-color: var(--color-white);
  border-radius: 5px;
}

.jupiter-skin-fusion-swiper .control {
  width: 800px;
}

.jupiter-skin-fusion-swiper .info .txt {
  opacity: 0;
}

.jupiter-skin-fusion-swiper .swiper-slide-active .info .txt {
  opacity: 1;
  transition: all 2s ease 0.2s;
}

.solution-swiper .swiper {
  width: 880px;
  margin: 0;
}

/* 메인 이벤트 */
.solution-swiper .info .txt {
  padding-bottom: 60px;
}

.main-promotion {
  width: 1350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 240px;
}

.main-promotion .title {
  position: sticky;
  top: 180px;
  color: var(--color-white);
}

.main-promotion .title p {
  margin-top: 16px;
}

.main-promotion .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.main-promotion .list li {
  height: 448px;
}

.main-promotion .list li:nth-child(2n) a {
  display: block;
  padding-top: 120px;
}

.main-promotion .list li a img {
  width: 366px;
  height: 448px;
}

/* 메인 고객센터 */
.main-footer {
  position: relative;
  margin-top: 240px;
  padding-top: 240px;
}

.main-footer:before {
  content: "";
  position: absolute;
  inset: 0;
  left: -200px;
  background-color: rgba(33, 40, 60, 0.95);
}

.main-customer {
  position: relative;
  display: flex;
  gap: 100px;
  color: var(--color-white);
}

.main-customer .left {
  width: 650px;
}

.main-customer .left dl {
  display: flex;
  margin-bottom: 46px;
}

.main-customer .left dl dt {
  width: 160px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .left dl dd {
  flex: 1;
}

.main-customer .left dl dd span {
  color: var(--color-mediumGray);
}

.main-customer .left .map {
  width: 100%;
  height: 390px;
}

.main-customer .left .map .cont {
  display: none;
}

.main-customer .right {
  width: 465px;
}

.main-customer .right dl:last-child {
  margin-top: 80px;
}

.main-customer .right dl dt {
  margin-bottom: 14px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .right .consultation-wrap .form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-customer .right .consultation-wrap .form-list .flex {
  display: flex;
  gap: 20px;
}

.main-customer .right .consultation-wrap .form-list .flex input {
  width: 100%;
  padding-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--color-white);
}

.main-customer .right .consultation-wrap .form-list .checkbox {
  text-align: right;
  color: var(--color-mediumGray);
}

.main-customer .right .consultation-wrap form button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #d8be97;
  font-weight: var(--font-weight-Bold);
  color: var(--color-white);
}

.main-customer .right .hours-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-customer .right .hours-wrap ul li {
  display: flex;
}

.main-customer .right .hours-wrap ul li div {
  display: flex;
  white-space: nowrap;
}

.main-customer .right .hours-wrap ul li div.day {
  justify-content: space-between;
  width: 100px;
  margin-right: 40px;
}

.main-customer .right .hours-wrap ul li div.time {
  gap: 6px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .right .hours-wrap ul li div.time span {
  text-align: center;
  letter-spacing: 2px;
}

.main-customer .right .hours-wrap ul li div.time span:nth-child(odd) {
  width: 34px;
}

.main-customer .right .hours-wrap ul li div.time span:nth-child(2) {
  width: 55px;
}

.main-customer .right .hours-wrap ul li div.time span:last-child {
  width: 46px;
}

.main-customer .right .hours-wrap p {
  margin-top: 30px;
  color: var(--color-mediumGray);
}
