/************** layout **************/

.pages-inner {
  width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .pages-inner {
    width: 100%;
    padding: 0 25px;
  }
}

/************** title **************/

.pages-title {
  margin-bottom: 80px;
  text-align: center;
}

.pages-title h5 {
  margin-bottom: 26px;
  font-size: 24px;
}

.pages-title h3 {
  font-size: 60px;
}

.pages-title p {
  margin-top: 36px;
}

@media screen and (max-width: 1200px) {
  .pages-title {
    margin-bottom: 50px;
  }

  .pages-title h5 {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .pages-title h3 {
    font-size: 30px;
  }

  .pages-title p {
    margin-top: 20px;
  }
}

/************** swiper **************/

.swiper.pages-swiper {
  margin: 0;
  padding-bottom: 60px;
}

.pages-swiper .control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/* swiper control button */
.pages-swiper .control-button {
  display: flex;
  gap: 10px;
}

.pages-swiper .control-button div {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 1px solid var(--color-mediumGray);
  transition: all 0.3s;
}

.pages-swiper .control-button div.swiper-button-prev {
  left: 0;
}

.pages-swiper .control-button div.swiper-button-next {
  right: 0;
}

.pages-swiper .control-button div:hover {
  background-color: var(--color-mediumGray);
}

.pages-swiper .control-button div:after {
  font-size: 13px;
  color: var(--color-mediumGray);
}

.pages-swiper .control-button div:hover:after {
  color: var(--color-white);
}

/* swiper pagination */
.pages-swiper .swiper-pagination {
  position: relative;
  display: flex;
  gap: 5px;
}

.pages-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.pages-swiper .swiper-pagination span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
  opacity: 1;
  background-color: rgba(153, 153, 153, 0.5);
  transition: all 0.3s;
}

.pages-swiper .swiper-pagination span.swiper-pagination-bullet-active {
  width: 20px;
  background-color: var(--color-mediumGray);
  border-radius: 5px;
}

/************** 상단 영상 **************/

.pages-intro {
  min-height: 100vh;
  background-color: var(--color-offWhite);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/pages/lifting/jupiter-x-lifting/mobile/intro-bg.jpg") no-repeat center/cover;
}

@media screen and (max-width: 1200px) {
  .pages-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/pages/lifting/jupiter-x-lifting/mobile/intro-bg.jpg") no-repeat center/cover;
  }
}

/************** 자주 묻는 질문 **************/

.pages-faq {
  padding: 120px 0;
  background-color: var(--color-offWhite);
}

.pages-faq .pages-inner {
  width: 960px;
}

.pages-faq .pages-title {
  color: var(--color-primary);
}

.pages-faq ul {
  border-top: 1px solid var(--color-primary);
}

.pages-faq ul li {
  border-bottom: 1px solid #ccc;
}

.pages-faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  cursor: pointer;
}

.pages-faq .question div {
  flex: 1;
  display: flex;
  align-items: center;
}

.pages-faq .question div strong {
  padding: 0 40px;
  font-family: "Poppins";
}
.pages-faq .question div span {
  flex: 1;
}

.pages-faq .question > span {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 40px;
}

.pages-faq .question > span:before,
.pages-faq .question > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
}

.pages-faq .question > span:before {
  width: 100%;
  height: 2px;
}

.pages-faq .question > span:after {
  width: 2px;
  height: 100%;
}

.pages-faq ul li.active .question > span:after {
  opacity: 0;
}

.pages-faq .answer {
  display: none;
  background-color: var(--color-white);
  padding: 17px 0;
}
.pages-faq .answer div {
  display: flex;
  align-items: baseline;
}

.pages-faq .answer div strong {
  padding: 0 40px;
  font-family: "Poppins";
}

.pages-faq .answer div span {
  flex: 1;
  padding-right: 40px;
}

@media screen and (max-width: 1200px) {
  .pages-faq {
    padding: 80px 0;
  }

  .pages-faq .pages-inner {
    width: 100%;
    padding: 0 25px;
  }

  .pages-faq .question {
    padding: 12px 0;
  }

  .pages-faq .question div strong {
    padding: 0 10px;
  }

  .pages-faq .question > span {
    margin: 0 10px;
  }

  .pages-faq .answer {
    padding: 12px 0;
  }
  .pages-faq .answer div {
    display: flex;
    align-items: baseline;
  }

  .pages-faq .answer div strong {
    padding: 0 10px;
  }

  .pages-faq .answer div span {
    padding-right: 10px;
  }
}

/************** 주름 하나만 **************/

.one-wrinkle-intro {
  position: relative;
  min-height: 100vh;
  background: #edf0f2 url("../../img/pages/story/one-wrinkle/intro-img.jpg") no-repeat top/cover;
}

.one-wrinkle-intro div {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  margin-right: -650px;
  text-align: center;
}

.one-wrinkle-intro div h5 {
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--color-primary);
}

.one-wrinkle-intro div h5 span {
  font-weight: var(--font-weight-Light);
}

.one-wrinkle-intro div h2 {
  font-size: 80px;
  font-family: "Noto Serif";
  font-style: italic;
  color: var(--color-primary);
}

.one-wrinkle-intro div p {
  position: relative;
  padding-top: 110px;
  margin-top: 35px;
  font-size: 24px;
  color: #707688;
}

.one-wrinkle-intro div p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 79px;
  background-color: #707688;
}

.one-wrinkle-section1 {
  padding: 120px 0;
}

.one-wrinkle-section1 .pages-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one-wrinkle-section1 .txt {
  color: var(--color-primary);
}

.one-wrinkle-section1 .txt h5 {
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Poppins";
}

.one-wrinkle-section1 .txt h3 {
  font-size: 60px;
}

.one-wrinkle-section1 .txt h3 span {
  font-family: "Poppins";
}

.one-wrinkle-section1 .txt p {
  margin-top: 20px;
}

.one-wrinkle-section2 {
  padding: 120px 0;
  background-color: #f4f4f4;
  color: var(--color-primary);
}

.one-wrinkle-section2 ul {
  display: flex;
  gap: 4px;
}

.one-wrinkle-section2 ul li {
  flex: 1;
  position: relative;
  height: 200px;
  padding: 37px 30px;
  background-color: var(--color-white);
}

.one-wrinkle-section2 ul li h5 {
  font-size: 26px;
}

.one-wrinkle-section2 ul li p {
  margin-top: 16px;
}

.one-wrinkle-section2 ul li img {
  position: absolute;
  bottom: 23px;
  right: 23px;
}

.one-wrinkle-section3 {
  background: url("../../img/pages/story/one-wrinkle/section3-bg.jpg") no-repeat top/cover;
  color: var(--color-primary);
}

.one-wrinkle-section3 .pages-inner {
  position: relative;
  padding: 140px 0 140px 100px;
}

.one-wrinkle-section3 .txt h5 {
  font-size: 24px;
  font-weight: var(--font-weight-Light);
}

.one-wrinkle-section3 .txt h5 span {
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.one-wrinkle-section3 .txt h3 {
  margin: 20px 0 70px;
  font-size: 60px;
}

.one-wrinkle-section3 .txt h3 span {
  font-weight: var(--font-weight-Light);
}

.one-wrinkle-section3 .txt h4 {
  margin: 24px 0 35px;
  font-size: 36px;
}

.one-wrinkle-section3 .txt p {
  font-size: 18px;
}

.one-wrinkle-section3 img {
  position: absolute;
  bottom: 0;
  right: 80px;
}

.one-wrinkle-section3 .ceo-name {
  position: absolute;
  bottom: 50px;
  right: 110px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .one-wrinkle-intro {
    display: flex;
    justify-content: center;
    background: #edf0f2 url("../../img/pages/story/one-wrinkle/mobile/intro-img.jpg") no-repeat top/cover;
  }

  .one-wrinkle-intro div {
    position: static;
    transform: none;
    margin: auto 0 80px 0;
  }

  .one-wrinkle-intro div h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .one-wrinkle-intro div h2 {
    font-size: 40px;
  }

  .one-wrinkle-intro div p {
    padding-top: 0;
    margin-top: 20px;
    font-size: 14px;
  }

  .one-wrinkle-intro div p:before {
    display: none;
  }

  .one-wrinkle-section1 {
    padding: 80px 0;
  }

  .one-wrinkle-section1 .pages-inner {
    flex-direction: column;
    gap: 20px;
  }

  .one-wrinkle-section1 .txt h5 {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .one-wrinkle-section1 .txt h3 {
    font-size: 30px;
  }

  .one-wrinkle-section2 {
    padding: 80px 0;
  }

  .one-wrinkle-section2 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }

  .one-wrinkle-section2 ul li {
    height: auto;
    padding: 18px 0 18px 18px;
  }

  .one-wrinkle-section2 ul li h5 {
    font-size: 16px;
  }

  .one-wrinkle-section2 ul li p {
    margin-top: 8px;
  }

  .one-wrinkle-section2 ul li img {
    height: 30px;
    bottom: 15px;
    right: 15px;
  }

  .one-wrinkle-section3 .pages-inner {
    padding: 80px 25px;
  }

  .one-wrinkle-section3 .txt {
    position: relative;
    z-index: 1;
  }

  .one-wrinkle-section3 .txt h5 {
    font-size: 16px;
  }

  .one-wrinkle-section3 .txt h3 {
    margin: 15px 0 20px;
    font-size: 30px;
  }

  .one-wrinkle-section3 .txt h4 {
    margin: 15px 0 18px;
    font-size: 18px;
  }

  .one-wrinkle-section3 .txt p {
    font-size: 14px;
  }

  .one-wrinkle-section3 img {
    right: 0;
    width: 200px;
  }

  .one-wrinkle-section3 .ceo-name {
    bottom: 30px;
    right: 25px;
    font-size: 14px;
  }
}

/************** JUPITER X - LIFING **************/

.jupiter-x-lifting-section1 {
  padding: 120px 0;
  background-color: var(--color-primary);
}

.jupiter-x-lifting-section1 .pages-title {
  color: var(--color-white);
}

.jupiter-x-lifting-section1 .img {
  display: flex;
  justify-content: center;
}

.jupiter-x-lifting-section2 {
  position: relative;
  padding: 120px 0;
}

.jupiter-x-lifting-section2:before,
.jupiter-x-lifting-section2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  height: 342px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jupiter-x-lifting-section2:before {
  top: 0;
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section2-bg1.jpg");
}

.jupiter-x-lifting-section2:after {
  bottom: 0;
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section2-bg2.jpg");
}

.jupiter-x-lifting-section2 .pages-title {
  color: var(--color-primary);
}

.jupiter-x-lifting-section2 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 475px;
  height: 475px;
  margin: 180px auto 100px;
}

.jupiter-x-lifting-section2 .content:before,
.jupiter-x-lifting-section2 .content:after {
  content: "";
  position: absolute;
  border: 6px solid #eeeeee;
  transform: rotate(45deg);
}

.jupiter-x-lifting-section2 .content:before {
  inset: 0;
}

.jupiter-x-lifting-section2 .content:after {
  inset: 70px;
}

.jupiter-x-lifting-section2 .content > span {
  position: absolute;
  letter-spacing: 10px;
  text-align: center;
  font-size: 24px;
  font-family: "Noto Serif";
  color: var(--color-primary);
}

.jupiter-x-lifting-section2 .content ul {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.jupiter-x-lifting-section2 .content ul li {
  width: 190px;
  height: 190px;
  padding: 5px;
  border-radius: 100%;
  color: var(--color-white);
}

.jupiter-x-lifting-section2 .content ul li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--color-white);
  border-radius: 100%;
}

.jupiter-x-lifting-section2 .content ul li:first-child,
.jupiter-x-lifting-section2 .content ul li:last-child {
  background-color: var(--color-primary);
}

.jupiter-x-lifting-section2 .content ul li:nth-child(2),
.jupiter-x-lifting-section2 .content ul li:nth-child(3) {
  background-color: var(--color-mediumGray);
}

.jupiter-x-lifting-section2 .content ul li strong {
  font-size: 20px;
  font-family: "Poppins";
}

.jupiter-x-lifting-section2 .content ul li span {
  font-weight: var(--font-weight-Regular);
}

.jupiter-x-lifting-section3 {
  position: relative;
  padding: 120px 0;
  background-color: var(--color-offWhite);
}

.jupiter-x-lifting-section3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 685px;
  background: url("../img/pages/lifting/jupiter-x-lifting/section3-bg.jpg") no-repeat top/cover;
}

.jupiter-x-lifting-section3 .pages-inner {
  position: relative;
}

.jupiter-x-lifting-section3 .pages-title {
  color: var(--color-primary);
}

.jupiter-x-lifting-section3 .info {
  display: flex;
  justify-content: space-between;
}

.jupiter-x-lifting-section3 .info li {
  position: relative;
}

.jupiter-x-lifting-section3 .info li div {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  text-align: center;
  color: var(--color-white);
}

.jupiter-x-lifting-section3 .info li:nth-child(2) div,
.jupiter-x-lifting-section3 .info li:nth-child(3) div {
  color: var(--color-primary);
}

.jupiter-x-lifting-section3 .info li div span {
  display: inline-block;
  width: 148px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--color-white);
  border-radius: 30px;
}

.jupiter-x-lifting-section3 .info li:nth-child(2) div span,
.jupiter-x-lifting-section3 .info li:nth-child(3) div span {
  border-color: var(--color-primary);
}

.jupiter-x-lifting-section3 .info li div strong {
  display: block;
}

.jupiter-x-lifting-section3 .info li div strong:nth-child(2) {
  margin-top: 88px;
}

.jupiter-x-lifting-section3 .info li div strong:nth-child(3) {
  margin-top: auto;
}

.jupiter-x-lifting-section3 .guide {
  margin-top: 100px;
  padding: 60px;
  background-color: var(--color-white);
}

.jupiter-x-lifting-section3 .guide .title {
  display: flex;
  margin-bottom: 24px;
}

.jupiter-x-lifting-section3 .guide .title strong:first-child {
  margin-left: 115px;
}

.jupiter-x-lifting-section3 .guide .title strong:nth-child(2) {
  margin-left: 281px;
}

.jupiter-x-lifting-section3 .guide .title strong:nth-child(3) {
  margin-left: 357px;
}

.jupiter-x-lifting-section3 .guide ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.jupiter-x-lifting-section3 .guide ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 130px;
  background-color: #efefef;
  border-radius: 30px;
}

.jupiter-x-lifting-section3 .guide ul li .type {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 230px;
}

.jupiter-x-lifting-section3 .guide ul li .type span {
  position: relative;
  padding: 7px 20px;
  background-color: var(--color-white);
  border: 1px solid #ddd;
  color: var(--color-primary);
  font-weight: var(--font-weight-Bold);
  border-radius: 20px;
}

.jupiter-x-lifting-section3 .guide ul li .type span:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #d8be97 url("../img/pages/lifting/jupiter-x-lifting/section3-ico.png") no-repeat center;
}

.jupiter-x-lifting-section3 .guide ul li .line {
  position: relative;
  width: 130px;
  height: 15px;
}

.jupiter-x-lifting-section3 .guide ul li .line:before,
.jupiter-x-lifting-section3 .guide ul li .line:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: var(--color-mediumGray);
}

.jupiter-x-lifting-section3 .guide ul li .line:before {
  left: 0;
  bottom: 0;
  width: 100%;
}

.jupiter-x-lifting-section3 .guide ul li .line:after {
  right: -2px;
  bottom: 7px;
  width: 21px;
  transform: rotate(42deg);
}

.jupiter-x-lifting-section3 .guide ul li .mixture {
  position: relative;
  display: flex;
}

.jupiter-x-lifting-section3 .guide ul li .mixture:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
  color: var(--color-white);
}

.jupiter-x-lifting-section3 .guide ul li .mixture span {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 100px;
  text-align: center;
  color: var(--color-white);
  font-weight: var(--font-weight-Bold);
}

.jupiter-x-lifting-section3 .guide ul li .mixture span:last-child {
  margin-left: -20px;
}

.jupiter-x-lifting-section3 .guide ul li .mixture span.thermage {
  background-color: rgba(183, 54, 144, 0.8);
}

.jupiter-x-lifting-section3 .guide ul li .mixture span.ulthera {
  background-color: rgba(252, 179, 57, 0.8);
}

.jupiter-x-lifting-section3 .guide ul li .mixture span.tricore {
  background-color: rgba(141, 202, 224, 0.8);
}

.jupiter-x-lifting-section3 .guide ul li .mixture span.potenza {
  background-color: rgba(35, 184, 186, 0.8);
}

.jupiter-x-lifting-section3 .guide ul li .effect span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 72px;
  text-align: center;
  background-color: var(--color-primary);
  font-weight: var(--font-weight-Bold);
  color: var(--color-white);
}

.jupiter-x-lifting-section4 {
  background: url("../img/pages/lifting/jupiter-x-lifting/section4-bg.jpg") no-repeat top/cover;
}

.jupiter-x-lifting-section4 .pages-inner {
  position: relative;
  padding: 220px 0 220px 100px;
}

.jupiter-x-lifting-section4 .content h5 {
  font-size: 24px;
  font-weight: var(--font-weight-Light);
  color: #d8be97;
}

.jupiter-x-lifting-section4 .content h3 {
  margin: 20px 0 70px;
  font-size: 60px;
  color: var(--color-white);
}

.jupiter-x-lifting-section4 .content h3 span {
  font-weight: var(--font-weight-Light);
}

.jupiter-x-lifting-section4 .content p {
  color: var(--color-white);
}

.jupiter-x-lifting-section4 img {
  position: absolute;
  right: 80px;
  bottom: 0;
}

.jupiter-x-lifting-section5 {
  padding: 120px 0;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.jupiter-x-lifting-section5 ul {
  display: flex;
  justify-content: space-between;
}

.jupiter-x-lifting-section5 ul li {
  width: 300px;
  height: 510px;
  padding: 35px;
  background-repeat: no-repeat;
}

.jupiter-x-lifting-section5 ul li:first-child {
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section5-img1.jpg");
}

.jupiter-x-lifting-section5 ul li:nth-child(2) {
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section5-img2.jpg");
}

.jupiter-x-lifting-section5 ul li:nth-child(3) {
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section5-img3.jpg");
}

.jupiter-x-lifting-section5 ul li:nth-child(4) {
  background-image: url("../img/pages/lifting/jupiter-x-lifting/section5-img4.jpg");
}

.jupiter-x-lifting-section5 ul li > span {
  display: block;
  margin-bottom: 18px;
  color: rgba(33, 40, 60, 0.5);
}

.jupiter-x-lifting-section5 ul li h5 {
  font-size: 30px;
  color: var(--color-primary);
}

.jupiter-x-lifting-section5 ul li h5 span {
  font-weight: var(--font-weight-Light);
}

.jupiter-x-lifting-section5 ul li p {
  margin-top: 12px;
  color: var(--color-primary);
}

.jupiter-x-lifting-section6 {
  padding: 120px 0;
  color: var(--color-primary);
}

.jupiter-x-lifting-section6 .pages-inner {
  display: flex;
  justify-content: space-between;
}

.jupiter-x-lifting-section6 .txt {
  padding-top: 50px;
}

.jupiter-x-lifting-section6 .txt h5 {
  font-size: 24px;
  font-weight: var(--font-weight-Light);
}

.jupiter-x-lifting-section6 .txt h3 {
  margin: 30px 0 20px;
  font-size: 60px;
}

.jupiter-x-lifting-section6 .txt p {
  margin-bottom: 90px;
}

.jupiter-x-lifting-section6 .swiper {
  width: 650px;
}

.jupiter-x-lifting-section6 .swiper .swiper-slide div {
  margin-top: 30px;
}

.jupiter-x-lifting-section6 .swiper .swiper-slide div h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .jupiter-x-lifting-section1 {
    padding: 80px 0;
  }

  .jupiter-x-lifting-section2 {
    padding: 80px 0;
  }

  .jupiter-x-lifting-section2:before,
  .jupiter-x-lifting-section2:after {
    height: 170px;
  }

  .jupiter-x-lifting-section2 .content {
    width: 295px;
    height: 295px;
    margin: 110px auto 60px;
  }

  .jupiter-x-lifting-section2 .content:before,
  .jupiter-x-lifting-section2 .content:after {
    border: 3px solid #eeeeee;
  }

  .jupiter-x-lifting-section2 .content:after {
    inset: 40px;
  }

  .jupiter-x-lifting-section2 .content > span {
    font-size: 17px;
  }

  .jupiter-x-lifting-section2 .content ul {
    gap: 50px;
  }

  .jupiter-x-lifting-section2 .content ul li {
    width: 130px;
    height: 130px;
  }

  .jupiter-x-lifting-section2 .content ul li strong,
  .jupiter-x-lifting-section2 .content ul li p {
    font-size: 16px;
  }

  .jupiter-x-lifting-section3 {
    padding: 80px 0;
  }

  .jupiter-x-lifting-section3:before {
    height: 190px;
  }

  .jupiter-x-lifting-section3 .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
  }

  .jupiter-x-lifting-section3 .info li div {
    padding: 15px 0;
  }

  .jupiter-x-lifting-section3 .info li div span {
    width: 110px;
    height: 28px;
    line-height: 26px;
  }

  .jupiter-x-lifting-section3 .info li div strong:nth-child(2) {
    margin-top: 23%;
  }

  .jupiter-x-lifting-section3 .guide {
    margin: 50px -12.5px 0;
    padding: 25px 12.5px;
  }

  .jupiter-x-lifting-section3 .guide .title {
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .jupiter-x-lifting-section3 .guide .title strong:first-child {
    margin-left: 0;
  }

  .jupiter-x-lifting-section3 .guide .title strong:nth-child(2) {
    margin-left: 0;
  }

  .jupiter-x-lifting-section3 .guide .title strong:nth-child(3) {
    width: 115px;
    text-align: center;
    margin-left: 0;
  }

  .jupiter-x-lifting-section3 .guide ul {
    gap: 10px;
  }

  .jupiter-x-lifting-section3 .guide ul li {
    justify-content: space-between;
    height: auto;
    padding: 10px;
    border-radius: 15px;
  }

  .jupiter-x-lifting-section3 .guide ul li .type {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 70px;
  }

  .jupiter-x-lifting-section3 .guide ul li .type span {
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 12px;
  }

  .jupiter-x-lifting-section3 .guide ul li .type span:before {
    top: -5px;
    left: -5px;
    width: 14px;
    height: 14px;
    background-size: 6px;
  }

  .jupiter-x-lifting-section3 .guide ul li .line {
    display: none;
  }

  .jupiter-x-lifting-section3 .guide ul li .mixture span {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }

  .jupiter-x-lifting-section3 .guide ul li .mixture span:last-child {
    margin-left: -13px;
  }

  .jupiter-x-lifting-section3 .guide ul li .mobile-view {
    width: 115px;
    text-align: center;
  }

  .jupiter-x-lifting-section3 .guide ul li .mobile-view .effect {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
  }

  .jupiter-x-lifting-section3 .guide ul li .effect span {
    width: auto;
    height: auto;
    font-size: 12px;
  }

  .jupiter-x-lifting-section4 {
    background: url("../img/pages/lifting/jupiter-x-lifting/mobile/section4-bg.jpg") no-repeat top/cover;
  }

  .jupiter-x-lifting-section4 .pages-inner {
    padding: 80px 25px;
  }

  .jupiter-x-lifting-section4 .content {
    margin-top: -30px;
  }

  .jupiter-x-lifting-section4 .content h5 {
    font-size: 16px;
  }

  .jupiter-x-lifting-section4 .content h3 {
    margin: 15px 0 20px;
    font-size: 30px;
  }

  .jupiter-x-lifting-section4 img {
    position: static;
  }

  .jupiter-x-lifting-section5 {
    padding: 80px 0;
  }

  .jupiter-x-lifting-section5 .pages-title {
    text-align: left;
  }

  .jupiter-x-lifting-section5 .swiper {
    width: calc(100% + 25px);
  }

  .jupiter-x-lifting-section5 .pages-swiper .control {
    padding-right: 25px;
  }

  .jupiter-x-lifting-section5 .swiper-slide {
    width: 170px;
  }

  .jupiter-x-lifting-section5 .swiper-slide div {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .jupiter-x-lifting-section5 .swiper-slide div > span {
    display: block;
    margin-bottom: 10px;
    color: rgba(33, 40, 60, 0.5);
  }

  .jupiter-x-lifting-section5 .swiper-slide div h5 {
    font-size: 16px;
    color: var(--color-primary);
  }

  .jupiter-x-lifting-section5 .swiper-slide div h5 span {
    font-weight: var(--font-weight-Regular);
  }

  .jupiter-x-lifting-section5 .swiper-slide div p {
    margin-top: 10px;
    color: var(--color-primary);
  }

  .jupiter-x-lifting-section6 {
    padding: 80px 0;
  }

  .jupiter-x-lifting-section6 .pages-inner {
    flex-direction: column;
  }

  .jupiter-x-lifting-section6 .txt {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .jupiter-x-lifting-section6 .txt h5 {
    font-size: 16px;
  }

  .jupiter-x-lifting-section6 .txt h3 {
    margin: 15px 0 20px;
    font-size: 30px;
  }

  .jupiter-x-lifting-section6 .txt p {
    margin-bottom: 20px;
  }

  .jupiter-x-lifting-section6 .swiper {
    width: 100%;
  }

  .jupiter-x-lifting-section6 .swiper .swiper-slide div {
    margin-top: 14px;
  }

  .jupiter-x-lifting-section6 .swiper .swiper-slide div h5 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
