@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

/************** reset **************/

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  /* color */
  --color-primary: #21283c;
  --color-secondary: #d4ccc1;
  --color-tertiary: #646a78;
  --color-white: #ffffff;
  --color-offWhite: #f5f5f5;
  --color-softGray: #e6e6e6;
  --color-mediumGray: #999999;
  --color-slateGray: #67686c;
  --color-black: #222222;

  --color-success: #21b497;
  --color-danger: #ff4a5f;
  --color-warning: #fe8248;
  --color-info: #2b324b;

  /* font weight */
  --font-weight-Bold: 700;
  --font-weight-SemiBold: 600;
  --font-weight-Medium: 500;
  --font-weight-Regular: 400;
  --font-weight-Light: 300;

  /* shadow */
  --shadow-default: 0 0 20px 0 rgb(0 0 0/0.07);

  /* layout */
  --width-layout: 1300px;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Pretendard";
  font-weight: var(--font-weight-Light);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
  color: var(--color-black);
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
}

img,
picture,
iframe,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
strong,
b,
th {
  font-weight: var(--font-weight-Bold);
}

h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

:focus {
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

::-webkit-input-placeholder,
::-moz-placeholder {
  color: var(--color-text-medium-gray);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  height: 48px;
  border-radius: 6px;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-track {
  height: 48px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-corner {
  height: 48px;
  border-radius: 6px;
  background-color: #f0f0f0;
}

@page {
  size: A4;
  margin: 5mm;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url("./font/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url("./font/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url("./font/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url("./font/Pretendard-Light.woff2") format("woff2");
}

/************** components **************/

/* font */
.font-pretendard {
  font-family: "Pretendard";
}

.font-noto-serif {
  font-family: "Noto Serif";
}

.font-poppins {
  font-family: "Poppins";
}

.font-weight-bold {
  font-weight: var(--font-weight-Bold);
}

.font-weight-semibold {
  font-weight: var(--font-weight-SemiBold);
}

.font-weight-medium {
  font-weight: var(--font-weight-Medium);
}

.font-weight-regular {
  font-weight: var(--font-weight-Regular);
}

.font-weight-light {
  font-weight: var(--font-weight-Light);
}

/************** sidebar **************/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 200px;
  background-color: var(--color-secondary);
}

.main-sidebar {
  background-color: rgba(255, 255, 255, 0.5);
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  background-color: var(--color-primary);
}

.sidebar .gnb {
}

.main-sidebar .gnb {
}

.sidebar .depth1 {
  height: calc(100vh - 355px);
  padding-left: 40px;
}

.sidebar .depth1 > li:hover .depth2 {
  display: block;
}

.sidebar .depth1 > li > a {
  display: block;
  padding: 22px 0;
  font-size: 18px;
  font-weight: var(--font-weight-Medium);
}

.sidebar .depth2 {
  display: none;
  position: absolute;
  top: 0;
  left: 200px;
  width: 200px;
  height: 100%;
  overflow: auto;
  padding-top: 230px;
  background-color: rgba(33, 40, 60, 0.7);
}

.sidebar .depth2 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0;
}

.sidebar .depth2 ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: var(--font-weight-Regular);
  color: var(--color-white);
  transition: all 0.3s;
}

.sidebar .depth2 ul li a:hover {
  background-color: rgba(33, 40, 60, 0.6);
}

.sidebar .depth2 ul li a img {
  margin-top: -1px;
}

.sidebar .util {
  padding: 0 10px 30px;
}

.sidebar .util a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 45px;
  font-size: 16px;
}

.sidebar .util a.kakao-btn {
  margin-bottom: 5px;
  background-color: var(--color-white);
  color: #493625;
}

.sidebar .util a.request-btn {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media screen and (max-width: 1800px) {
  .sidebar .depth1 > li > a {
    padding: 18px 0;
  }

  .sidebar .depth2 ul {
    padding: 11px 0;
  }
}

@media screen and (max-width: 1600px) {
  .sidebar .depth1 > li > a {
    padding: 12px 0;
  }

  .sidebar .depth2 ul {
    padding: 5px 0;
  }
}

/************** sitemap **************/

/* sitemap btn */
.sitemap-btn {
  position: fixed;
  top: 60px;
  right: 70px;
  z-index: 3;
  width: 20px;
  height: 19px;
}

.sitemap-btn span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s;
}

.sitemap-btn span:nth-of-type(1) {
  top: 0;
}

.sitemap-btn span:nth-of-type(2) {
  top: 8px;
}

.sitemap-btn span:nth-of-type(3) {
  bottom: 0;
  width: 50%;
}

.sitemap-btn:hover span:nth-of-type(3) {
  width: 100%;
}

/************** top btn **************/

.top-btn {
  position: fixed;
  bottom: 36px;
  right: 70px;
  z-index: 3;
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
}

.top-btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -8px;
  border-right: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  transform: rotate(-45deg);
}

/************** footer **************/

.footer {
  margin-top: 54px;
  padding: 30px 0 60px;
  border-top: 1px solid var(--color-mediumGray);
}

.footer .menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer .menu a {
  font-weight: var(--font-weight-Bold);
  color: var(--color-mediumGray);
}

.footer .menu a:last-child {
  color: var(--color-white);
}

.footer .menu span {
  width: 1px;
  height: 13px;
  background-color: var(--color-mediumGray);
}

.footer .info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  font-size: 16px;
  color: var(--color-mediumGray);
}

/************** layout **************/

.wrapper {
  min-width: 1920px;
  overflow: hidden;
}

.container {
  padding-left: 200px;
}

.pages-inner {
  width: var(--width-layout);
  margin: 0 auto;
}

/************** button **************/

.more-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 233px;
  height: 60px;
  padding: 0 30px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.more-btn span {
  position: relative;
  width: 10px;
  height: 10px;
}

.more-btn span:before,
.more-btn span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.more-btn span:before {
  width: 100%;
  height: 2px;
}

.more-btn span:after {
  width: 2px;
  height: 100%;
}

/************** form **************/

/* .selection-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}

.selection-item {
  position: relative;
  display: inline-block;
}

.selection-item input {
  border: 1px solid #ccc;
  @apply border-softGray checked:border-primary hover:border-primary disabled:bg-softGray disabled:border-softGray disabled:checked:border-primary absolute top-[0.5px] left-0 size-5 cursor-pointer appearance-none border bg-white transition-all duration-[0.3s] disabled:cursor-auto;
}

.selection-item input[type="checkbox"] {
  @apply checked:bg-primary rounded-md bg-center bg-no-repeat checked:bg-[url(../assets/images/form/check-line.svg)];
}

.selection-item input[type="radio"] {
  @apply rounded-full checked:border-5 disabled:checked:bg-white;
}

.selection-item input:disabled + label {
  @apply cursor-auto;
}

.selection-item label {
  @apply flex-1 cursor-pointer pl-7;
} */

/************** main **************/

.main-inner {
  width: 1350px;
  margin: 0 auto;
}

.main-title {
  font-size: 70px;
  font-family: "Noto Serif";
}

/* 메인 영상 */
.main-video {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.main-video:before {
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.3s;
}

.main-video.active:before {
  background-color: rgba(33, 40, 60, 0.5);
}

.main-video video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

/* 메인 비주얼 */
.main-visual {
  position: relative;
  min-height: 100vh;
}

.main-visual h2 {
  position: absolute;
  left: 0;
  bottom: 180px;
  font-size: 100px;
  color: var(--color-white);
}

/* 메인 주피터 소개 */
.jupiter-info {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
  color: var(--color-white);
}

.jupiter-info .img {
  width: 480px;
  height: 480px;
  background-color: rgba(255, 255, 255, 0.5);
}

.jupiter-info .txt p {
  margin-top: 50px;
  line-height: 40px;
}

.jupiter-info .txt p strong span {
  font-family: "Pretendard";
}

/* 메인 swiper */
.main-swiper {
  position: relative;
  width: 1350px;
  margin-top: 240px;
  color: var(--color-white);
}

.main-swiper h3 {
  position: absolute;
  top: 0;
  z-index: 2;
}

.main-swiper .swiper {
  padding-bottom: 60px;
}

.main-swiper .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.main-swiper .info .txt p {
  margin-bottom: 40px;
}

.main-swiper .control {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/* swiper control button */
.main-swiper .control-button {
  display: flex;
  gap: 10px;
}

.main-swiper .control-button div {
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 1px solid var(--color-mediumGray);
  transition: all 0.3s;
}

.main-swiper .control-button div.swiper-button-prev {
  left: 0;
}

.main-swiper .control-button div.swiper-button-next {
  right: 0;
}

.main-swiper .control-button div:hover {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

.main-swiper .control-button div:after {
  font-size: 13px;
  color: var(--color-mediumGray);
}

.main-swiper .control-button div:hover:after {
  color: var(--color-black);
}

/* swiper pagination tab */
.main-swiper .tab {
  position: absolute;
  z-index: 2;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
}

.main-swiper .tab.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 280px;
  width: auto;
}

.main-swiper .tab span.swiper-pagination-bullet {
  position: relative;
  width: auto;
  height: auto;
  padding-left: 30px;
  opacity: 1;
  font-family: "Poppins";
  font-size: 24px;
  background-color: transparent;
}

.main-swiper .tab span.swiper-pagination-bullet-active {
  font-weight: var(--font-weight-Bold);
}

.main-swiper .tab span.swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 3px;
  margin-top: -1.5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.main-swiper .tab span.swiper-pagination-bullet-active:before {
  width: 20px;
  background-color: var(--color-white);
}

/* swiper pagination */
.main-swiper .swiper-pagination {
  position: relative;
  display: flex;
  gap: 5px;
}

.main-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}

.main-swiper .swiper-pagination span.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
  opacity: 1;
  background-color: var(--color-mediumGray);
  transition: all 0.3s;
}

.main-swiper .swiper-pagination span.swiper-pagination-bullet-active {
  width: 20px;
  background-color: var(--color-white);
  border-radius: 5px;
}

.jupiter-skin-fusion-swiper .control {
  width: 800px;
}

.jupiter-skin-fusion-swiper .info .txt {
  opacity: 0;
}

.jupiter-skin-fusion-swiper .swiper-slide-active .info .txt {
  opacity: 1;
  transition: all 2s ease 0.2s;
}

.solution-swiper .swiper {
  width: 880px;
  margin: 0;
}

/* 메인 이벤트 */
.solution-swiper .info .txt {
  padding-bottom: 60px;
}

.main-promotion {
  width: 1350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 240px;
}

.main-promotion .title {
  position: sticky;
  top: 180px;
  color: var(--color-white);
}

.main-promotion .title p {
  margin-top: 16px;
}

.main-promotion .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.main-promotion .list li {
  height: 448px;
}

.main-promotion .list li:nth-child(2n) a {
  display: block;
  padding-top: 120px;
}

.main-promotion .list li a img {
  width: 366px;
  height: 448px;
}

/* 메인 고객센터 */
.main-footer {
  position: relative;
  margin-top: 240px;
  padding-top: 240px;
}

.main-footer:before {
  content: "";
  position: absolute;
  inset: 0;
  left: -200px;
  background-color: rgba(33, 40, 60, 0.95);
}

.main-customer {
  position: relative;
  display: flex;
  gap: 100px;
  color: var(--color-white);
}

.main-customer .left {
  width: 650px;
}

.main-customer .left dl {
  display: flex;
  margin-bottom: 46px;
}

.main-customer .left dl dt {
  width: 160px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .left dl dd {
  flex: 1;
}

.main-customer .left dl dd span {
  color: var(--color-mediumGray);
}

.main-customer .left .map {
  width: 100%;
  height: 390px;
}

.main-customer .left .map .cont {
  display: none;
}

.main-customer .right {
  width: 465px;
}

.main-customer .right dl:last-child {
  margin-top: 80px;
}

.main-customer .right dl dt {
  margin-bottom: 14px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .right .consultation-wrap .form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-customer .right .consultation-wrap .form-list .flex {
  display: flex;
  gap: 20px;
}

.main-customer .right .consultation-wrap .form-list .flex input {
  width: 100%;
  padding-bottom: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--color-white);
}

.main-customer .right .consultation-wrap .form-list .checkbox {
  text-align: right;
  color: var(--color-mediumGray);
}

.main-customer .right .consultation-wrap form button {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: #d8be97;
  font-weight: var(--font-weight-Bold);
  color: var(--color-white);
}

.main-customer .right .hours-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-customer .right .hours-wrap ul li {
  display: flex;
}

.main-customer .right .hours-wrap ul li div {
  display: flex;
  white-space: nowrap;
}

.main-customer .right .hours-wrap ul li div.day {
  justify-content: space-between;
  width: 100px;
  margin-right: 40px;
}

.main-customer .right .hours-wrap ul li div.time {
  gap: 6px;
  font-family: "Poppins";
  font-weight: var(--font-weight-Bold);
}

.main-customer .right .hours-wrap ul li div.time span {
  text-align: center;
  letter-spacing: 2px;
}

.main-customer .right .hours-wrap ul li div.time span:nth-child(odd) {
  width: 34px;
}

.main-customer .right .hours-wrap ul li div.time span:nth-child(2) {
  width: 55px;
}

.main-customer .right .hours-wrap ul li div.time span:last-child {
  width: 46px;
}

.main-customer .right .hours-wrap p {
  margin-top: 30px;
  color: var(--color-mediumGray);
}
